@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-Marine-blue: #02295a;
  --clr-Purplish-blue: #473dff;
  --clr-Pastel-blue: #adbeff;
  --clr-Light-blue: #bfe2fd;
  --clr-Strawberry-red: #ed3548;
  --clr-Cool-gray: #9699ab;
  --clr-Light-gray: #d6d9e6;
  --clr-Magnolia: #f0f6ff;
  --clr-Alabaster: #fafbff;
  --clr-White: #ffffff;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 16px;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--clr-Magnolia);
}

/* page 1 */
/* btns */
.sidebar {
  background-image: url(../assets/images/bg-sidebar-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 5rem 8rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

.btn {
  width: 2.75rem;
  height: 2.75rem;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-Light-blue);
  color: var(--clr-Marine-blue);
  transition: all 0.3s;
}

/* info */
.title {
  color: var(--clr-Marine-blue);
}

.para {
  color: var(--clr-Cool-gray);
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}

label {
  color: var(--clr-Marine-blue);
  font-size: 0.95rem;
}

/*  */
/* common card class */
.page {
  background-color: var(--clr-White);
  width: 92%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25), -2px -2px 2px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
}
/*  */
/*  */

.your-info {
  margin-top: -3.75rem;
}

.info-input-container {
  display: flex;
  flex-direction: column;
}

.personal-inputs {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid var(--clr-Light-gray);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  margin-top: 5px;
  color: var(--clr-Cool-gray);
  font-weight: 500;
  padding-left: 12px;
  outline-style: none;
}

/*  */
/* btn section */
/*  */

.button {
  background-color: var(--clr-White);
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
}

.btn-section-1 {
  margin-top: 4rem;
}

.btn-section-2 {
  display: none;
}

.btn-next {
  padding: 0.7rem 1.25rem;
  color: var(--clr-White);
  background-color: var(--clr-Marine-blue);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.btn-next:hover {
  background-color: #033e85;
  transition: all 0.3s;
}

.btn-back {
  /* display: none; */
  border: none;
  background-color: transparent;
  color: #9699ab;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-back:hover {
  color: #5c5c5f;
  transition: all 0.3s;
}

.btn-confirm {
  padding: 0.7rem 1.25rem;
  color: var(--clr-White);
  background-color: var(--clr-Purplish-blue);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.btn-confirm:hover {
  background-color: #1409e0;
  transition: all 0.3s;
}

/*  */
/*  */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* page 2 */
.plan-section {
  display: none;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.plan-img {
  width: 45px;
  height: 45px;
}

.plan-type-container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  border: 2px solid var(--clr-Light-gray);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  outline-style: none;
}

.plan-type-name {
  padding-bottom: 5px;
  color: var(--clr-Marine-blue);
  font-weight: bold;
}

.plan-month {
  font-size: 0.9rem;
  color: var(--clr-Cool-gray);
}

.toggle-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem 1px;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  background-color: var(--clr-Magnolia);
  border-radius: 10px;
}

.monthly {
  padding-top: 16px;
  color: #02295a;
  font-weight: bold;
}

.yearly {
  padding-top: 16px;
  color: var(--clr-Cool-gray);
  font-weight: bold;
}

/*  */
/* toggle */
/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*  */
/*  */

/* page 3 */
.pick-up-section {
  display: none;
}

.pick-up-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem 0.5rem 1.25rem;
  border: 2px solid var(--clr-Light-gray);
  border-radius: 10px;
  margin-bottom: 1rem;
  outline-style: none;
}

.pick-cbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.add-checkbox {
  width: 18px;
  height: 18px;
}

.pick-method {
  margin-top: 8px;
}

.pick-service {
  color: var(--clr-Marine-blue);
  font-weight: bold;
  padding-bottom: 3px;
}

.service-para {
  color: var(--clr-Cool-gray);
  font-size: 0.9rem;
}

.pick-price {
  color: var(--clr-Purplish-blue);
  font-size: 0.9rem;
}

/* page 4 */

.finishing-section {
  margin-top: 4rem;
  display: none;
}

.selected-method-container {
  padding: 1.5rem 1.5rem 0.75rem 1.5rem;
  background-color: var(--clr-Alabaster);
  border-radius: 10px;
  outline-style: none;
}

.method-per-yr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  font-weight: 500;
  color: #5c5c5f;
  display: block;
  margin-top: -0.8rem;
  padding-bottom: 10px;
}

hr {
  border-top: 0.1px solid var(--clr-Cool-gray);
}

.arcade-monthly {
  color: var(--clr-Marine-blue);
  font-weight: bold;
}

.service-storage {
  padding-top: 10px;
  color: var(--clr-Cool-gray);
  font-size: 700;
}

.per-yr {
  color: var(--clr-Marine-blue);
}

.total-amount-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-para {
  color: var(--clr-Cool-gray);
  font-size: 1.05rem;
  font-weight: bold;
}

.total-per-yr {
  color: var(--clr-Purplish-blue);
  font-weight: bold;
  font-size: 1.15rem;
}

/* thankyou card */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*  */
/*  */

/* thanku card */

.thanku-img {
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanku-card-section {
  display: none;
  margin-top: 4rem;
  padding: 2rem 2.75rem;
}

.thanku-title,
.thanku-para {
  text-align: center;
}

.social-icon {
  padding-top: 1.75rem;
  justify-content: center;
  display: flex;
  gap: 2rem;
}

.social {
  border-radius: 50%;
  font-size: 1.75rem;
  transition: all 0.3s;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.fa-facebook {
  color: #3b5998;
}

.fa-github {
  color: #171515;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-instagram {
  color: #e1306c;
}

.social:hover {
  transition: all 0.3s;
  transform: scale(1.05) translateY(-7px);
}

/*  */
/* media queory */
/*  */
@media screen and (min-width: 768px) {
  body {
    min-height: 0;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .all-section {
    width: 80%;
    margin: auto;
  }

  .front-page {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(../assets/images/bg-sidebar-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
